@namespace Skclusive.Material.Modal
@inherits MaterialContextComponent

<div
    @ref="@RootRef.Current"
    data-mui-test="Backdrop"
    class="@_Class"
    style="@_Style"
    aria-hidden
    @onclick="HandleClickAsync"
    @oncontextmenu="HandleClickAsync"
    @oncontextmenu:preventDefault="true"
    @attributes="Attributes">
    @ChildContent?.Invoke(Context)
</div>
