@namespace Skclusive.Material.Button
@inherits TouchRippleComponent

<span
    @ref="RootRef.Current"
    class="@_Class"
    style="@_Style">
    <TransitionGroup
        Exit="true"
        Children="@Ripples"/>
</span>
