@namespace Skclusive.Material.Button
@inherits RippleComponent

<span
    @ref="RootRef.Current"
    class="@_Class"
    style="@_Style">
    <span
        class="@_ChildClass"
        style="@_ChildStyle" />
</span>
